*{
    color: white;
}
:root{
    --colro-dark:#27292a;
    --color-darkest:#1f2122;
    --primary-color: #ec6090;
    --padding-primary:50px;
    --margin-primary:50px;
    --borderreduis-primary:25px;
}
.section-wrapper{
  background-color: var(--color-darkest);
  padding: var(--padding-primary);
  margin-top: var(--margin-primary);
  border-radius: var(--borderreduis-primary);
}
.section-wrapper .section-header .hfour{
  font-size: 42px;
  font-weight: bold;
  position: relative;
  width: fit-content;
}
@media screen and (max-width: 768px){
  .section-wrapper .section-header .hfour{
    font-size: 24px;
  }
}
.section-wrapper .section-header .hfour::after{
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  bottom: -4px;
  left: -8px;
  background-color: var(--primary-color);
}
.section-wrapper .section-header .hfour::before{
  content: "";
  position: absolute;
  width: 0px;
  height: 4px;
  bottom: -4px;
  left: -7px;
  background-color: var(--primary-color);
  transition: 0.3s linear;
}
.section-wrapper .section-header .hfour:hover::before{
  width: 100%;
}
.section-wrapper .section-header h4 span{
    color: var(--primary-color);
}
.section-wrapper .most-popular-items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.most-popular-items .most-popular-item{
 flex: 1 25%;
}
.most-popular-item .card-wrapper{
  background-color: var(--colro-dark);
  padding: 25px;
  border-radius: 12px;
  margin: 10px;
}
@media screen and (max-width: 768px){
  .most-popular-item .card-wrapper{
    margin: 10px auto;
  }
}
@media screen and (max-width: 768px){
  .most-popular-item .card-wrapper ul{
    display: flex;
    gap: 4px;
    flex-direction: row;
  }
}
.most-popular-item .image-item{
  width: 100%;
  height: 120px;
  border-radius: 5px;
  margin-bottom: 25px;
}
.most-popular-item .content{
 display: flex;
 justify-content: space-between;
 gap: 7px;
}
.most-popular-item .content .myicon{
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 2px;
    font-weight: bold;
    margin: 2px;
    margin-top: -1px;
    cursor: pointer;
}
.most-popular-item .content .mainicon{
    background-color: #ffff0085;
}
.most-popular-item .content .title{
  font-size: 16px;
  line-height: 1.5rem;
}
